<!DOCTYPE html>
<html>
<head>
  <title>GeoPKI:  A Merkle Hash Tree Grows in Brooklyn</title>
  
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= leafs = Leaf.all %>


</body>
</html>